stages:
  - build
  - push

docker-build:
  stage: build
  dependencies:
    - docker
    
  script:
    - docker build -t lofis123/lofswap:latest .

docker-push:
  stage: push
  script:
    - docker login -u "$DOCKERHUB_USER" -p "$DOCKERHUB_PASSWORD"
    - docker push lofis123/lofswap:latest
