stages:
  - build
  - push

docker-build:
  image: ubuntu:latest
  stage: build
  script:
    -sudo apt-get update && sudo apt-get install -y docker.io 
    -docker build -t lofis123/lofswap:latest .

docker-push:
  image: docker:latest
  stage: push
  script:
    - docker login -u "$DOCKERHUB_USER" -p "$DOCKERHUB_PASSWORD"
    - docker push lofis123/lofswap:latest
