version: "3.8"

services:
  lofs-node:
    image: lofis123/lofswap:latest 
    container_name: lofswap
    restart: unless-stopped
    ports:
      - "6000:6000"
    volumes:
      - ./data:/app/data

    labels:
      - "com.centurylinklabs.watchtower.enable=true"

  watchtower:
    image: containrrr/watchtower
    container_name: watchtower
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    command: >
      --label-enable
      --interval 300
      --cleanup
      --include-restarting
